<div class="container">
  <h1>Lineup</h1>
</div>
<div class="splash-buttons">
  <a href="http://localhost:3000/team/1/"><span class="splash-team">Team</span></a>
  <a href="http://localhost:3000/player/1/"><span class="splash-player">Player</span></a>
</div>