

.calendarControlPanel {
  background-color: $box-backdrop-color;
  padding: $close-spacing;
  cursor:default;
}

.calendarControlButton {

}
.calendarControlButton:active {
  background-color:#bbf1bb;
}

.displayTogglePanel {
  background-color:$box-background-one;
  box-shadow: $shadow-1;
  height:$button-height;
  position:relative;
  vertical-align:top;
  width: $event-control-width;
  margin: auto;
}

.eventControlPanel {
  width: $event-control-width;
  background-color:$box-background-one;
  box-shadow: $shadow-1;
  margin: $close-spacing auto 0px auto;
}

.smallEventControl {
  position:relative;
  display:inline-block;
  height:$button-height;
  width: $small-button-width;
  text-align: center;
  line-height:0px !important;
}

.bigEventControl {
  box-sizing:border-box;
  background-color:$box-background-one;
  display:inline-block;
  height:$button-height;
  line-height:$button-height;
  vertical-align: middle;
  position:relative;
  -webkit-user-select: none;
  width:$big-button-width;
  text-align: center;
  cursor:default;
  font-weight:200;
  font-size:18px;
}
.eventTypeControlPanel {
  width:$big-button-width;
  display:inline-block;
  vertical-align: top;
}
.otherEventControlPanel {
  width:$big-button-width;
  display:inline-block;
  vertical-align: top;
}
.gameEventToggle {
  background-color:#f1bbbb;
}
.practiceEventToggle {
  background-color:#a1d6a1;
}
.workoutEventToggle {
  background-color:#e7efa3;
}
.meetingEventToggle {
  background-color:#b0f1df;
}
.dailyWeeklyEventToggle {

}
.commitButton {
  background-color:#d85b54;
}
.smallEventTypeLabel {
  margin-top:4px;
  font-size:10px;
  color:grey;
  clear:both;
}
.material-icons {
  margin-top:5px;
  font-size:40px !important;
  color:grey !important;
}
