.grade-table {
  box-shadow: $shadow-1;
  width: 40%;
    background-color:white;
  margin-left:$component-spacing;
  padding:5px;
  font-weight:50;
  font-size:10px;
  position: relative;
  float: left;
}

.player-calendar {
  width: 650px;
  display:inline-block;
  position:relative;
  vertical-align:top;
  margin-right:$component-spacing;
  float: right;
}

.rightPanel-player {
  display:inline-block;
  margin-right:$component-spacing;
  position:relative;
  vertical-align:bottom;
  float: right;
}

.resourceListContainerPlayer {
  width: 100%;
  background-color: white;
}
.resourceListContainerPlayer .addResourceButton {
  display: none !important;
}
.resourceListContainerPlayer .resourceListContainer {
  width:100%;
}

.grade-table .container {
  max-height:480px;
  overflow:scroll;
}
