.md-editor-textarea {
  width: 900px;
  display:inline-block;
  position:relative;
  vertical-align:top;
  margin-right:$component-spacing;
  float: right;
  min-height: 400px;
}

.resourceListContainerEditor {
  width:300px;
  max-height:280px;
  background-color: $box-background-one;
  position:relative;
  margin:15px auto;
  box-shadow: $shadow-1;
  margin-left:$component-spacing;
  float: left;
  vertical-align:top;
}

.dropzone-content {
  width: 50px;
  float: left;
  box-shadow: $shadow-1;
  margin-left:$component-spacing;
}

.dropzone-content div {
  width: 10px;
}

.markdown-buttons {
  float: right;
}