.navBar {
  width: 100%;
  height: 50px;
  line-height: 50px;
  color:honeydew;
  font-weight:200;
  font-size:18px;
  background-color:#737272;
  z-index: 99;
  margin-bottom:30px;
  text-align:center;
  overflow:hidden;
}

.navBarTitle {
  float:left;
  positition: relative;
  margin-left: 10px;
  font-size:25px;
  color:honeydew;
  font-weight:bold;
}

.teamSettingsButton {
  float:left;
  position:relative;
  display: inline-block;
}

.notificationBadgeContainer {
  float:right;
  position:relative;
  display: inline-block;
  margin-bottom:1rem;
  margin-right: 0px;
}

.notificationBadgeContainer svg {
  margin-bottom: 40px;
  margin-right: 8px;
  
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  color:honeydew;
  background-color:#737272;
  text-align: center;
  width: 100%;
  height:8px;
}
